
.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-5xl {
  font-size: 3rem;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.btn-animation {
	display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  text-align: center;
	/* ボタンのアニメーション */
	transition: background-color 0.3s, transform 0.2s;
}

.btn-animation:hover {
	
	/* ホバーエフェクト */
	background-color: #4FD1C5;
	transform: translateY(-2px);
}
